*{
    text-decoration: none;
    list-style: none;
}
#social-circle a{
    color: #000;
}
#social-circle a:hover {
    color: orange;
}
#locateUs{
    text-align: center;
}

@media screen and (max-width: 500px ) {
    .contacts {
        flex-wrap: wrap;
    }
}
